PORT=10000
NODE_ENV=production

API_FOOTBALL_KEY=
SPORTMONKS_TOKEN=

DATABASE_URL=

CACHE_TTL_MS=300000
LIVE_CACHE_TTL_MS=15000
REQUEST_TIMEOUT_MS=12000

DEFAULT_TIMEZONE=Africa/Kampala

MAX_SCORE_GOALS=7
